BACKUP_CRON_EXPRESSION="0 4 * * *"

BACKUP_RETENTION_DAYS="14"
BACKUP_PRUNING_PREFIX="backup-"

DROPBOX_APP_KEY="todo"
DROPBOX_APP_SECRET="todo"
DROPBOX_REFRESH_TOKEN="todo"
DROPBOX_REMOTE_PATH="/backups"
