http:
  routers:
    paperless-router:
      rule: "Host(`paperless.d-f.dev`)"
      tls:
        certResolver: letsencrypt
      service: paperless-service
      entrypoints:
        - websecure
    vaultwarden-router:
      rule: "Host(`pw.d-f.dev`)"
      tls:
        certResolver: letsencrypt
      service: vaultwarden-service
      entrypoints:
        - websecure
    mealie-router:
      rule: "Host(`food.d-f.dev`)"
      tls:
        certResolver: letsencrypt
      service: mealie-service
      entrypoints:
        - websecure
    uptime-router:
      rule: "Host(`uptime.d-f.dev`) || (Host(`status.d-f.dev`) && !Path(`/`))"
      tls:
        certResolver: letsencrypt
      service: uptime-service
      entrypoints:
        - websecure
    status-router:
      rule: "Host(`status.d-f.dev`) && Path(`/`)"
      tls:
        certResolver: letsencrypt
      service: uptime-service
      middlewares:
        - status-middleware
      entrypoints:
        - websecure
    plant-it-router:
      rule: "Host(`plants.d-f.dev`) && !PathPrefix(`/api`)"
      tls:
        certResolver: letsencrypt
      service: plant-it-service
      entrypoints:
        - websecure
    plant-it-api-router:
      rule: "Host(`plants.d-f.dev`) && PathPrefix(`/api`)"
      tls:
        certResolver: letsencrypt
      service: plant-it-api-service
      entrypoints:
        - websecure
    shorty-router:
      rule: "Host(`d-f.dev`)"
      tls:
        certResolver: letsencrypt
      service: noop@internal
      middlewares:
        - shorty-middleware

  middlewares:
    status-middleware:
      redirectRegex:
        regex: ".*"
        replacement: "https://status.d-f.dev/status/"
    shorty-middleware:
      plugin:
        shorty:
          links:
            wordle: "https://github.com/davidferneding/wordle"
            wasser: "https://www.icloud.com/iclouddrive/06d0sTp578AdyRfiKQUW_0MHg#San-Training_Wasserrettung"
    crowdsec:
      plugin:
        crowdsec-bouncer:
          enabled: true
          defaultDecisionSeconds: 60
          crowdsecMode: live
          crowdsecAppsecEnabled: true
          crowdsecAppsecHost: crowdsec:7422
          crowdsecAppsecFailureBlock: true
          crowdsecLapiKey: {{env "CROWDSEC_API_KEY"}}
          crowdsecLapiHost: crowdsec:8080
          crowdsecLapiScheme: http

  services:
    paperless-service:
      loadBalancer:
        servers:
          - url: http://paperless:8000
    vaultwarden-service:
      loadBalancer:
        servers:
          - url: http://vaultwarden:80
    mealie-service:
      loadBalancer:
        servers:
          - url: http://mealie:9000
    uptime-service:
      loadBalancer:
        servers:
          - url: http://uptime-kuma:3001
    plant-it-service:
      loadBalancer:
        servers:
          - url: http://plant-it:3000
    plant-it-api-service:
      loadBalancer:
        servers:
          - url: http://plant-it:8080
